body{
	background-color: #f3f3f3;
	background-image: url("../img/body_bg.png");
	background-attachment:fixed;
}

.nav *{
   background: transparent !important;
}

.nav{
  -webkit-box-shadow:  0px 2px 10px 0px #666;
   box-shadow:  0px 2px 10px 0px #666;
   background-image: url("../img/nav_bg.png");
}

.nav .top-bar-section li{
	border-left: 1px solid #666;
}

.top-bar.expanded{
	 background-image: url("../img/nav_bg.png");
}



.header{
	overflow: hidden;
	background-color: white;
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
.header > div {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header > div > h3{
  margin-bottom: 0px;
 
}

.header > img{
  float: left;
  padding-top: 30px;
}
.headerRow {
  margin-bottom: 5px;	
}
.min300 {
  min-width: 300px;
}

.min100 {
  min-width: 100px;
}
.boxShadow{
	-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0);
   box-shadow:  0px 2px 4px 0px #BBB;
}

.box1 {
	background-color: white;
	padding: 0px;
}

.box1 h2 {
  display: block;
  padding: 10px;
  color: white;
  background-color: #ccc;
  background-image: url("../img/nav_bg.png");
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 40px;
  margin-left: -21px;
  -webkit-border-radius: 0px 10px 10px 0px;
   border-radius: 0px 10px 10px 0px;
    max-width: 250px; 
  
}

.box1 h3 {
  font-size: 1.2em;
}

.box1 {
  padding: 20px;
}
.small{
	color: #666;
	font-size: 0.9em;
}

.tagCluster{}
.row {margin-top: 30px;}

.shadow{
	-webkit-box-shadow:  2px 2px 2px 2px #666;
   box-shadow:  2px 2px 2px 2px #666;
}
.rowMargin{
	margin-right: 0px;
}
.rowMargin li{
  padding-right: 0px;
}

.label a{color: white;}