body, html {
    height: 100%;
    margin: 0;
}

#main {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    text-shadow: 4px 4px 5px black;
}

#main img {
    margin-top: 10px;
}

h3 {
    margin: 5px;
}

#main_link > a {
    color: white;
    text-decoration: none;
}